@media (max-width: 800px) {
  header h1,
  .intro,
  .moodForm {
    padding: 20px 0;
  }

  header h1 {
    text-align: center;
  }

  .moodForm {
    margin-top: 30px;
    input {
      width: 100%;
      margin: 10px 0;
    }

    button {
      width: 100%;
      margin: 0;
    }
  }

  .searchResults h3 {
    font-size: calc(1vw + 20px) !important;
    margin-top: 20px;
  }

  button.scroll {
    display: none;
  }
}

// It still the same when change the size to 320px.
@media (max-width:375px) {
  .moodForm{
    margin-top: 50px;
  }
}
