@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  font-family: raleway;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
img,
section,
main,
figure,
article,
aside,
footer,
header {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e8cebf;
}

.wrapper {
  margin: 0 auto;
  width: 95%;
  max-width: 1800px;
}

img {
  width: 100%;
}

button {
  width: 90px;
  border: none;
  background-color: #ddaf94;
  color: #266150;
  padding: 5px 10px;
  border-radius: 15px;
  transition: all 0.3s linear;
}

button:hover,
button:focus-visible {
  background-color: #266150;
  color: #ddaf94;
}

.timeline {
  background-color: salmon;
}

.timelineImg {
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

.moodDetails {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #2661509d;
  color: #ddaf94;
  opacity: 0;
  z-index: -1;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}

.moodDetails h3 {
  color: #fdf8f5;
}

span.vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #ddaf94, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.timeline .vertical-timeline-element-content {
  background-color: #4f4846;
  box-shadow: none;
  color: #fdf8f5;
  padding: 0em;
  border-radius: 10px;
}

.vertical-timeline-element-content-arrow {
  border-right: 7px solid #266150;
  transition: all 0.3s linear;
}

.date,
h3 {
  color: green;
  font-size: 2rem !important;
}

.icon {
  background-color: salmon;
}

h3,
button {
  text-align: center;
}

.vertical-timeline-element-content:hover .moodDetails,
.timeline li:focus-visible .moodDetails {
  opacity: 1;
  z-index: 2;
}

.vertical-timeline-element-content:hover .vertical-timeline-element-content-arrow,
.timeline li:focus-visible .vertical-timeline-element-content-arrow {
  border-right: 7px solid #ddaf94;
}

button.scroll {
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #266150;
  color: #fdf8f5;
  transition: background-color 0.3s;
}
button.scroll:hover {
  -webkit-animation: bounce 1s linear infinite;
          animation: bounce 1s linear infinite;
  background-color: #ddaf94;
  color: #4f4846;
}

@-webkit-keyframes bounce {
  0%, 50% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}

@keyframes bounce {
  0%, 50% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}
header {
  height: 100vh;
}
header h1 {
  background-color: #266150;
  font-family: "Quicksand", sans-serif;
  color: #e8cebf;
  text-transform: uppercase;
  font-weight: bold;
  font-size: calc(4vw + 10px);
  padding: 12vh 0;
  text-align: center;
}
header h2 {
  font-weight: normal;
  font-size: calc(2vw + 5px);
  margin: 10px 0;
  color: #4f4846;
}
header p {
  font-size: 2vw;
  color: #4f4846;
}

.intro {
  padding: 10vh 0 10vh 5vw;
}

.moodForm {
  padding-left: 5vw;
}
.moodForm label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
}
.moodForm input {
  background-color: #fdf8f5;
  border: none;
  width: 40vw;
  height: 40px;
  color: #4f4846;
  font-size: 20px;
  padding-left: 10px;
}
.moodForm input:focus, .moodForm input:active {
  outline: none;
  border: #ddaf94 1px solid;
  box-shadow: 0 0 10px #ddaf94;
}
.moodForm button {
  background-color: #266150;
  border: none;
  margin-left: 10px;
  height: 40px;
  padding: 0 20px;
  color: #fdf8f5;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  letter-spacing: 1.15px;
  transition: color 0.2s, background-color 0.2s;
}
.moodForm button:hover {
  background-color: #ddaf94;
  color: #4f4846;
}/*# sourceMappingURL=App.css.map */